body {
    font-family: 'Nunito', sans-serif;
    background-color: #393e5e;
    margin: 0 auto;
}

h1, h2, button {
    margin-top: 0;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    color: #fefefe;
    text-align: center;
    margin-bottom: 50px;
    padding: 0;
}

h2 {
    font-size: 30px;
    color: #393e5e;
}

h3 {
    font-size: 55px;
    margin: auto auto;
}

.score-in-play {
    position: relative;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.score-in-play::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.score-in-play {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}

.score-in-play::after {
    opacity: 1%;
}

.container {
    background-color: #0099ff;
    max-width: 600px;
    margin: 50px auto;
    padding: 35px;
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
}

.scoreboard {
    display: flex;
    justify-content: space-around;
}

.dice {
    display: grid;
    place-items: center;
    position: relative;
    background-color: #fefefe;
    color: #3db8bc;
    margin-bottom: 75px;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.active {
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
}

.active {
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.active::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.active {
        -webkit-transform: scale(1.25, 1.25);
        transform: scale(1.25, 1.25);
}

.active::after {
    opacity: 50%;
}

.container-btn {
    display: grid;
    place-items: center;
}

.btn {
    display: inline-block;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    background-color: #ff6d81;
    color: #fff9e6;
    border: none;
    border-radius: 8px;
    height: 75px;
    width: 225px;
}

.hidden {
    display: none;
}

.roll {
    position: relative;
    background-color: #393e5e;
    color: #fefefe;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/*https://tobiasahlin.com/blog/how-to-animate-box-shadow/*/
.roll::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.roll:hover {
    cursor: pointer;
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}

.roll:hover::after {
    opacity: 1;
}

#reset {
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#reset::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#reset:hover {
    cursor: pointer;
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}

#reset:active {
    -webkit-transform: scale(.85, .85);
    transform: scale(.85, .85);
}

#reset:hover::after {
    opacity: 1;
}